form{
    
    text-align: center;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
    border: 1px solid grey;
    margin-top: 60px;
    padding: 20px;
    background-color: rgb(247, 238, 255);
}





.boton{
    background-color: blueviolet;
    color: white;
    border-radius: 8%;
    border: solid 1px blueviolet;
}

.boton:hover{
    background-color: rgb(20, 20, 20);
    color: white;
}


h2{
    color: blueviolet;
}



